<div style="padding: 5%;">
    <h1>智能合约部署</h1>
    <hr>
    <mat-grid-list cols="6" rowHeight="60px">
        <mat-grid-tile>
            <button  
            mat-raised-button 
            color="primary" 
            (click)="openDialog()">
            安装智能合约
        </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button  
            mat-raised-button 
            color="primary" 
            (click)="openDialog()">
            初始化智能合约
        </button>
        </mat-grid-tile>
      </mat-grid-list>
</div>


