<div style="padding: 5%;">
    <h1>区块链信息展示</h1>
    <hr>
    <br>
    <br>
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
            <div style="text-align: center;">
                <h2>网络节点</h2>
                <h2 style="color: lightblue;">8</h2>    
            </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div style="text-align: center;">
                <h2>区块高度</h2>
                <h2 style="color: lightblue;">10</h2>    
            </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div style="text-align: center;">
                <h2>交易数量</h2>
                <h2 style="color: lightblue;">10000</h2>    
            </div>
        </mat-grid-tile>
        <mat-grid-tile >
        </mat-grid-tile>
      </mat-grid-list>   
      <hr>
      <h2>交易记录</h2>   
      <table mat-table [dataSource]="blocks" class="mat-elevation-z8">
        <ng-container matColumnDef="blockNumber">
        <th mat-header-cell *matHeaderCellDef>区块高度</th>
        <td mat-cell *matCellDef="let element">{{element.blockNumber}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="blockHash">
        <th mat-header-cell *matHeaderCellDef>区块哈希值</th>
        <td mat-cell *matCellDef="let element"> <a href="#"> {{element.blockHash | summary}} </a></td>
        </ng-container>
        <ng-container matColumnDef="preBlockHash">
            <th mat-header-cell *matHeaderCellDef>前一个区块哈希值</th>
            <td mat-cell *matCellDef="let element"> {{element.preBlockHash | summary}} </td>
        </ng-container>
        <ng-container matColumnDef="transactionsCount">
            <th mat-header-cell *matHeaderCellDef>包含交易数量</th>
            <td mat-cell *matCellDef="let element"> {{element.transactionsCount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsForChaincode"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsForChaincode;"></tr>
    </table>
</div>
