<div style="padding: 5%;">
    <h1>区块链信息展示</h1>
    <hr>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile >
            1
        </mat-grid-tile>
        <mat-grid-tile >
            2
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" [colspan]="2">
            <img src="logo.jpg" alt="5">
        </mat-grid-tile>
        <mat-grid-tile >
            3
        </mat-grid-tile>
        <mat-grid-tile >
            4
        </mat-grid-tile>

      </mat-grid-list>      
</div>
