<app-navbar></app-navbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="side">
    <ul class="nav nav-sidebar">
      <li>
        <h2>&nbsp;&nbsp;功能导航</h2>
      </li>
      <li routerLinkActive="active current"><a routerLink="/blockchainInfo">区块链信息</a></li>
      <li routerLinkActive="active current"><a routerLink="/peerInfo">节点信息</a></li>
      <li routerLinkActive="active current"><a routerLink="/walletInfo">钱包</a></li>
      <li routerLinkActive="active current"><a routerLink="/deployChaincode">智能合约部署</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>







