<div style="padding: 5%;">
    <h1>
        <i class="material-icons">
            account_balance_wallet
        </i>
        钱包
    </h1>
    <hr>
    <h2>已有的身份卡</h2>
    <mat-list *ngFor="let wallet of wallets">
        <mat-grid-list cols="6" rowHeight="60px">
            <mat-grid-tile>
                <mat-list-item><a href="#">{{wallet.label}}</a></mat-list-item>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="accent">导出</button>
                &nbsp;
                &nbsp;
                <button mat-raised-button color="warn">删除</button>
            </mat-grid-tile>
          </mat-grid-list>
        <mat-divider></mat-divider>
    </mat-list>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="openDialog()">创建身份卡</button>
</div>
